Repository jenkinsci/docker, pull requests merged in 2023-08, with the labels that each got.

#1678 Fix tests by using a newer default Jenkins version
  docker-bake.hcl
Labels: tests

#1680 feat(docker-bake.hcl) bump Alpine Linux to 3.18.3
  11/alpine/hotspot/Dockerfile
  17/alpine/hotspot/Dockerfile
  docker-bake.hcl
Labels: enhancement, alpine

#1687 breaking(linux) Update debian images to bookworm
  .github/CODEOWNERS
  .github/dependabot.yml
  11/debian/bookworm-slim/hotspot/Dockerfile
  11/debian/bookworm/hotspot/Dockerfile
  17/debian/bookworm-slim/hotspot/Dockerfile
  17/debian/bookworm/hotspot/Dockerfile
  HACKING.adoc
  docker-bake.hcl
  updatecli/updatecli.d/bullseye.yaml
Labels: enhancement, breaking, debian

#1683 Add Java 21 for linux
  21/alpine/hotspot/Dockerfile
  21/debian/bookworm-slim/hotspot/Dockerfile
  21/debian/bookworm/hotspot/Dockerfile
  21/rhel/ubi9/hotspot/Dockerfile
  Jenkinsfile
  docker-bake.hcl
Labels: enhancement, linux, java21
