Repository jenkinsci/docker, pull requests merged in 2024-05, with the labels that each got.

#1868 Verify SHA256 checksum of plugin installation manager tool
  11/almalinux/almalinux8/hotspot/Dockerfile
  11/alpine/hotspot/Dockerfile
  11/debian/bookworm-slim/hotspot/Dockerfile
  11/debian/bookworm/hotspot/Dockerfile
  11/rhel/ubi8/hotspot/Dockerfile
  17/alpine/hotspot/Dockerfile
  17/debian/bookworm-slim/hotspot/Dockerfile
  17/debian/bookworm/hotspot/Dockerfile
  17/rhel/ubi9/hotspot/Dockerfile
  21/alpine/hotspot/Dockerfile
  21/debian/bookworm-slim/hotspot/Dockerfile
  21/debian/bookworm/hotspot/Dockerfile
  21/rhel/ubi9/hotspot/Dockerfile
  docker-bake.hcl
  windows/windowsservercore/hotspot/Dockerfile
Labels: chore

#1857 chore: keep only one Dockerfile per Linux image variant
  11/alpine/hotspot/Dockerfile
  11/debian/bookworm-slim/hotspot/Dockerfile
  11/debian/bookworm/hotspot/Dockerfile
  17/debian/bookworm-slim/hotspot/Dockerfile
  17/debian/bookworm/hotspot/Dockerfile
  21/debian/bookworm-slim/hotspot/Dockerfile
  21/debian/bookworm/hotspot/Dockerfile
  almalinux/almalinux8/hotspot/Dockerfile
  alpine/hotspot/Dockerfile
  debian/bookworm-slim/hotspot/Dockerfile
  debian/bookworm/hotspot/Dockerfile
  docker-bake.hcl
  rhel/ubi8/hotspot/Dockerfile
  rhel/ubi9/hotspot/Dockerfile
  windows/windowsservercore/hotspot/Dockerfile
Labels: chore, linux

#1873 chore(updatecli): adapt manifests to unique Dockerfile per Linux variant
  updatecli/updatecli.d/alpine.yaml
  updatecli/updatecli.d/debian.yaml
  updatecli/updatecli.d/jdk11.yaml
  updatecli/updatecli.d/jdk17.yaml
  updatecli/updatecli.d/jdk21.yaml
Labels: chore, updatecli
