Repository jenkinsci/docker, pull requests merged in 2024-11, with the labels that each got.

#1956 chore: fix "FromAsCasing: 'as' and 'FROM' keywords' casing do not match" warning
  debian/bookworm-slim/hotspot/Dockerfile
  debian/bookworm/hotspot/Dockerfile
  rhel/ubi9/hotspot/Dockerfile
Labels: chore

#1957 chore(updatecli): Uses the native temurin source
  .github/workflows/updatecli.yaml
  updatecli/scripts/check-jdk.sh
  updatecli/updatecli.d/jdk17.yaml
  updatecli/updatecli.d/jdk21.yaml
Labels: chore, updatecli, jdk21, jdk17

#1958 chore(updatecli): Duplicate file path in targets configuration.
  updatecli/updatecli.d/git-lfs.yaml
Labels: chore, updatecli
