Repository jenkinsci/docker, pull requests merged in 2024-04, with the labels that each got.

#1847 chore(linux): Switch from Temurin base images to Temurin JDK binaries
  11/almalinux/almalinux8/hotspot/Dockerfile
  11/alpine/hotspot/Dockerfile
  11/debian/bookworm-slim/hotspot/Dockerfile
  11/debian/bookworm/hotspot/Dockerfile
  11/rhel/ubi8/hotspot/Dockerfile
  17/alpine/hotspot/Dockerfile
  17/debian/bookworm-slim/hotspot/Dockerfile
  17/debian/bookworm/hotspot/Dockerfile
  17/rhel/ubi9/hotspot/Dockerfile
  21/alpine/hotspot/Dockerfile
  21/debian/bookworm-slim/hotspot/Dockerfile
  21/debian/bookworm/hotspot/Dockerfile
  21/rhel/ubi9/hotspot/Dockerfile
  jdk-download-url.sh
  jdk-download.sh
Labels: chore

#1851 chore(updatecli): Check the validity of releases thanks to the Adoptium API.
  jdk-download-url.sh
  updatecli/updatecli.d/jdk11.yaml
  updatecli/updatecli.d/jdk17.yaml
  updatecli/updatecli.d/jdk21.yaml
Labels: chore

#1852 Check for Windows JDK releases, same as Linux
  jdk-download-url.sh
  updatecli/updatecli.d/jdk11.yaml
  updatecli/updatecli.d/jdk17.yaml
  updatecli/updatecli.d/jdk21.yaml
Labels: chore

#1781 Track Java versions for Windows with updatecli
  updatecli/updatecli.d/jdk11.yaml
  updatecli/updatecli.d/jdk17.yaml
  updatecli/updatecli.d/jdk21.yaml
Labels: chore, windows, updatecli, jdk11, jdk17

#1858 chore(updatecli): add manifests for hadolint & shellcheck in tools scripts
  updatecli/updatecli.d/hadolint.yaml
  updatecli/updatecli.d/shellcheck.yaml
Labels: dependencies, chore, updatecli, hadolint, shellcheck

#1863 cleanup: remove deprecated `install-plugin.sh` script from Linux jdk11 images
  11/almalinux/almalinux8/hotspot/Dockerfile
  11/alpine/hotspot/Dockerfile
  11/debian/bookworm-slim/hotspot/Dockerfile
  11/debian/bookworm/hotspot/Dockerfile
  11/rhel/ubi8/hotspot/Dockerfile
  install-plugins.sh
Labels: chore, breaking, linux, jdk11

#1864 fix: set jlink compression arg to `zip-6` for Windows jdk21 image
  windows/windowsservercore/hotspot/Dockerfile
Labels: windows, jdk21
