Repository jenkinsci/docker, pull requests merged in 2025-09, with the labels that each got.

#2076 chore: don't skip Windows tests when simulating LTS build
  tests/functions.Tests.ps1
  tests/plugins-cli.Tests.ps1
  tests/runtime.Tests.ps1
Labels: tests, chore

#2074 chore: download war from mirrors unless we are publishing a release
  Jenkinsfile
  alpine/hotspot/Dockerfile
  build-windows.yaml
  debian/bookworm-slim/hotspot/Dockerfile
  debian/bookworm/hotspot/Dockerfile
  docker-bake.hcl
  make.ps1
  rhel/ubi9/hotspot/Dockerfile
  windows/windowsservercore/hotspot/Dockerfile
Labels: chore

#2081 Fix updatecli titles (Bookworm to Trixie)
  updatecli/updatecli.d/debian.yaml
Labels: chore, debian, updatecli

#2085 chore(updatecli/debian) fix typo in the PR title
  updatecli/updatecli.d/debian.yaml
Labels: chore, debian, updatecli
